<header class='top-page-header'>
  <div class='header-contents'>
    <div class='lists-left'>
     <%= link_to image_tag("oncetime-logo.png", class:"oncetime-icon"), root_path  %>
    </div>
    <div class='lists-right'>
     <div ><%= link_to '施設を掲載する', hotels_path, class: "btn-user" %></div>
      <% if user_signed_in?  %>
        <div><%= link_to current_user.nickname, user_path(id: current_user.id), class: "btn-user" %></div>
        <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn-user" %></div>
      <% else %>
        <div><%= link_to 'ログイン', new_user_session_path, class: "btn-user" %></div>
        <div><%= link_to '新規登録', new_user_registration_path, class: "btn-user" %></div>
      <% end %>
      
    </div>
  </div>
</header>