<header class='top-page-header'>
  <div class='header-contents'>
    <ul class='lists-left'>
     <%= link_to image_tag("oncetime-logo.png",  class:"oncetime-icon"), root_path %>
    </ul>
    <ul class='lists-right'>
      <% if owner_signed_in? %>
        <li><%= link_to  current_owner.nickname, root_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_owner_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ホテル管理者ログイン', new_owner_session_path, class: "login" %></li>
        <li><%= link_to 'ホテル管理者新規登録', new_owner_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>